#WrapAll {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
}
body{font-size:20pt;}

label.labelOPTION{
    display: block;
    text-align: center;
    font-size:20pt}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #fffb00; /* Green */
  color: rgb(20, 14, 14);
}
.button:active {
  background-color: #fffb00;
  box-shadow: 0 5px #666;
  transform: translateY(5px);
}

.tablas
  {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    }

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    text-align:center;
    font-size:20pt;
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #e5ff00; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.3; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  } */ */

  ul{
    text-align: left;
  }
  li {
    text-align: left;
  }
